@import url('/font-awesome/css/all.css');

@font-face {
    font-family: "Averta";
    font-weight: 600;
    src: url("/fonts/averta-extrabold.woff2") format("woff2");
}

@font-face {
    font-family: "Averta";
    font-weight: 500;
    src: url("/fonts/averta-semibold.woff2") format("woff2");
}

@font-face {
    font-family: "Averta";
    font-weight: 400;
    src: url("/fonts/averta-regular.woff2") format("woff2");
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Averta";
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
}

ul, ol {
    list-style-type: none;
}

a {
    color: inherit;
    text-decoration: none;
}

body {
    line-height: 1.2 !important;
    color: white !important;
}