.tasks-wrapper {
    padding: 20px 10px;
    padding-bottom: 75px;
}

.user-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
}

.id {
    opacity: 0.5;
    font-size: 14px;
}


.title {
    font-size: 14px;
    margin-bottom: 10px;
}

.task {
    display: flex;
    align-items: center;
    /*height: 50px;*/
    background: linear-gradient(90deg, rgba(20, 20, 20, 0.1) 0%, rgb(36, 36, 36) 100%);
    padding: 10px;
    border-radius: 10px;
    font-size: 14px;
    font-weight: 600;
    line-height: 1;
    cursor: pointer;
}


.task-icon {
    margin-right: 10px;
}

.arrow-icon {
    margin-left: auto;
    margin-right: 10px;
}

.reward-points {
    font-size: 11px;
    font-weight: 500;
    opacity: 0.4;
    margin-top: 4px;
    display: inline-block;
}

.daily-bonus {
    margin-bottom: 20px;
}

.tasks {
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.basic-tasks, .advanced-tasks {
    margin-bottom: 15px;
}

.loader {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    display: inline-block;
    border-top: 3px solid #FFF;
    border-right: 3px solid transparent;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
}

.drawer {
    background: red;
}

.drawer h2 {
    font-weight: 500 !important;
    font-size: 20px;
}

@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}