.wallet {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 80px 10px;
    text-align: center;
}

.wallet h1 {
    margin-bottom: 40px;
}


.connect-button {
    background-color: #0098EA;
    color: #FFFFFF;
    box-shadow: 0 4px 24px rgba(0, 0, 0, 0.16);
    padding: 8px 16px 8px 12px;
    display: flex;
    align-items: center;
    gap: 4px;
    height: 40px;
    border: none;
    border-radius: 25px;
    margin-bottom: 25px;
}

.description {
    font-size: 14px;
    opacity: 0.5;
}