.mobile-container {
    max-width: 700px;
    width: 100%;
    margin: 0 auto;
    background: rgb(63, 94, 251);
    background: radial-gradient(circle at 60% -50%, rgba(0, 255, 134, 0.9) 0%, rgba(0, 0, 0, 1) 70%);
}